<!--<p>dashboard-dialog-popup works!</p>-->

<div class="dashboard-dialog">
    <div class="dashboard-dialog-date-section">
        <div class="date-title-font"> Please Select a date range: </div>
        <div class="date-subtitle-font"> (1-Feb-2019 – 31-March-2019) </div>

        <br/>

        <table class="table table-striped">
            <tr>
                <td>Start Date:</td>
                <td><kendo-datepicker [format]="format" [(value)]="start_date" (valueChange)="onChangeStartDate($event)"></kendo-datepicker></td>
                <td>End Date:</td>
                <td><kendo-datepicker [format]="format" [(value)]="end_date" (valueChange)="onChangeEndtDate($event)"></kendo-datepicker></td>
            </tr>
        </table>
    </div>

    <div class="spacer"></div>

    <div class="dashboard-predict-result-section">
        <div class="dashboard-predict-result-title">
            Prediction Results
        </div>

        <br/>

        <div class="grid-container-header">
            <div class="common-block">
                <div class="common-results">{{normal_samples}} hrs</div>
                <div class="common-results-title">Normal Condition time</div>
            </div>
            <div class="common-block">
                <div class="common-results">{{fail_samples}} hrs</div>
                <div class="common-results-title">Fail Condition time</div>
            </div>
            <div class="common-block">
                <div class="common-results">{{predicted_correctly}} hrs</div>
                <div class="common-results-title">Predicted Correctly time</div>
            </div>
            <div class="accuracy-block">
                <div>
                    <div class="accuracy-results">{{overall_accuracy}}%</div>
                    <div class="accuracy-results-title">Overall Prediction Accuracy</div>
                </div>
            </div>
        </div>
    </div>

    <div class="dashboard-heatmap-result-section">
        <div id="chart" style="margin-top:35px;">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [dataLabels]="chartOptions.dataLabels"
              [title]="chartOptions.title"
              [xaxis]="chartOptions.xaxis"
              [grid]="chartOptions.grid"
              [tooltip] ="chartOptions.tooltip"
              [legend] ="chartOptions.legend"
              [plotOptions]="chartOptions.plotOptions"
            ></apx-chart>
          </div>
    </div>

</div>


