@import "variables";

.SamplePage {
  .PageContent {
    display: grid;
    grid-gap: $grid-section-gap;

    @media screen and (min-width: map-get($grid-breakpoints, "md")) {
      grid-template-columns: auto 1fr;
    }
  }
}

::ng-deep .k-window-titlebar {
  background-color: #393947;
  border-width: 2px;
  color: #FFFFFF;
}

::ng-deep .k-window{
  border:1px solid #393947;
}

.spacer {
  width: 200px;
  height: 15px;

}

.dashboard-dialog-date-section {
  flex: 0 0 70%;
  max-width: 70%;
}

.dashboard-dialog-date-section2 {
  flex: 0 0 30%;
  max-width: 30%;
}

.grid-container-header {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  grid-template-rows: auto auto auto;
  width: 100%;
  height: 300px;
}
.common-block {
  box-sizing:border-box;
  background: #17202A;
  border-color: #E5E7E9;
  border-width: 10px;
  padding: 20px;
  justify-items: center;
  align-items: center;
  box-shadow: 0px 0px 12px rgba(151, 153, 160, 0.75);
}
.common-results {
  font-size: 30px;
  color: #FFFFFF;
  text-align: center;
}
.common-results-title {
  padding: 10px;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
}

.accuracy-block {
  grid-row: 1 / span 3;
  grid-column: 2 / span 2;
  box-sizing:border-box;
  background: #17202A;
  border-color: #E5E7E9;
  border-width: 20px;
  display: flex;
justify-content: center;
align-items: center;
box-shadow: 0px 0px 12px rgba(151, 153, 160, 0.75);
}
.accuracy-results {
  font-size: 80px;
  color: #FFFFFF;
  text-align: center;
}
.accuracy-results-title {
  padding: 40px;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
}

.date-title-font {
  font-weight: bold;
  font-size: 20px;
}

.date-subtitle-font {
  font-style: italic;
  font-size: 15px;
}

.Label-font {
  font-size: 20px;
}

::ng-deep .dashboard-heatmap-result-section-header {
  font-size: 20px;
}

::ng-dee .col-lg-5
{
  height: 250px;
}

.AppMain[_ngcontent-vmp-c749] {
  grid-row: 2/-1;
  padding: 2.5rem 3rem;
  overflow-x: auto;
  background: black;
}

::ng-deep .k-combobox .k-dropdown-wrap  {
    background-color: #17202A !important;
    color:white;

}

::ng-deep .k-combobox .k-select  {
    background-color: #17202A !important;
    color:white
}
::ng-deep .k-calendar .k-state-selected { background: blue; }

::ng-deep .card {
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.75);
}

::ng-deep .apexcharts-text tspan {
  font-family: inherit;
  font-size: 15px;
}

.block_table  {
  color:white;
  border-collapse: collapse;
}

.block_th{
  color:white;
  font-size: 18px;
  border: 1px solid #999;
  padding: 1.2rem;
  text-align: left;
}

.block_tr
{
  color:white;
  border: 1px solid white;
  padding: 15px;
  border-collapse: collapse;
  border-spacing: 5px;

}

.block_td{
  color:white;
  font-size: 18px;
  border: 1px solid #999;
  padding: 1.2rem;
  text-align: left;
}
